.Ingredients{
    background-color: #EDF3A7;
    width: 25%;
    float: left;
    text-align: center;
    height: 29.75vw;
}

.Ingredients > h2{
    background-color: #EDF3A7;
}

.Ingredients > p{
    background-color: #EDF3A7;
    font-size: 1.5vw;
}