.search{
    background: #FEF4E5;
    opacity: 1;
    overflow: hidden;
    border: none;
    font-size: 2.5vw;
    float: left;
    display: block;
    margin: 0.4vw;
    width: 20vw;
    height: 3.1vw;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
  }
  
  .LogoSearch{
    width: 3.2vw;
    height: 3.2vw;
    margin-top: 0.4vw;
    margin-right: -0.4vw;
    float: left;
    background: #FEF4E5;
  }